<div class="name">
  {{drop.name}}
  <span class="quantity">×{{drop.quantity}}</span>
</div>

<div class="price">
  {{drop.price}}
</div>

{{drop-creditor-list creditors=drop.creditors}}

<div class="price-per-character">
  {{drop.pricePerPerson}}
</div>
